Source: plasma-widget-paparazzi
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: cmake,
               debhelper (>=9),
               extra-cmake-modules,
               libkf5plasma-dev,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/plasma-extensions/plasma-widget-paparazzi

Package: plasma-widget-paparazzi
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: paparazzi plasma 5 widget
 This package contains the files for plasma-widget-paparazzi
